#edit-modal-header {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.modal-header {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.label {
  padding-top: 10px;
}

.title-clear-button {
  display: flex;
  justify-content: space-between;
}

.clear-button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #bf8969;
  cursor: pointer;
}

.filter-search-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 6px;
  margin-bottom: 8px;
  width: 100%;
  grid-template-areas: "filter search" "staff staff";
}

.search-container {
  display: relative;
  background-color: #5a6d69;
  padding: 10px 20px 20px 0px;
  border-radius: 0px 15px 15px 0px;
}

.label {
  display: block;
  font-size: 0.9rem;
  color: black;
  margin-bottom: 2px;
}

.search-label {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  margin-bottom: 2px;
}

.search-input-container {
  position: relative;
  grid-area: search;
  display: flex;
  column-gap: 20px;
}

.search-input {
  width: 84%;
  padding: 12px !important;
  border: lightgrey 1px solid;
  border-radius: 8px;
}
.search-input:focus {
  border: blue 1px solid;
}

.search-filter-btn {
  border: none;

  border-radius: 8px;
  width: 15%;
  height: 43px;
  color: #ffffff;
  background-color: #bf8969 !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.search-filter-btn:hover,
.search-filter-btn:focus {
  background-color: rgba(67, 89, 85, 0.85) !important;
}

.search-filter-btn:focus {
  outline: blue 1px solid;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.filter-select-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
}

.filter-select {
  padding: 12px !important;
  border-radius: 8px;
  width: clamp(100px, 120px, 140px);
}

.filter-btns-container {
  /*display: grid;
			 gap: 8px;
    	grid-template-columns: 1fr 1fr;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  grid-area: filter;
  background-color: #5a6d69;
  padding: 5px 20px 20px 20px;
  border-radius: 15px 0 0 15px;
}

.filter-btns-container > button {
  width: 100%;
}

.edit-modal-content {
  /*display: none;  Hidden by default */
  position: absolute;
  padding: 20px;
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  border-radius: 5px;
  /*width: fit-content; Could be more or less, depending on screen size */

  min-height: max-content; /* Ensure the modal itself has a max height */
  overflow-y: auto; /* Enable vertical scrolling for the modal */
}

.edit-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.edit-close:hover,
.edit-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Submit Button */
#submit-modal {
  margin-top: 10px;
  padding: 10px;
  color: #ffffff;
  background-color: #bf8969 !important;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

#submit-modal:hover {
  background-color: rgba(67, 89, 85, 0.85) !important;
}

.staff-container {
  grid-area: staff;
}

/* Styling for Mobile Devices */
@media (max-width: 920px) {
  .search-container {
    display: flex;
    flex-direction: column;
  }

  .filter-search-container {
    grid-template-areas: "search" "filter" "staff";
    gap: 8px;
  }

  .filter-container {
    flex-direction: column;
    align-items: stretch;
  }

  .filter-select {
    width: 100%;
  }

  .search-input {
    width: 100%;
    margin-bottom: 8px !important;
  }

  .search-filter-btn {
    width: 100%;
  }
}
